log_*.txt
logs/*
**/.DS_Store
api_key.txt
flash_prepp_help
_archive/*
_log/*
**/.vscode/*
_ark/*
**/_log/*
**/_bak/*
**/_temp/*
**/.idea/*
workflow_creation/paths.txt
**/_debug/*
**/__pycache__
**/__pycache__/*
