[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas-ods-reader = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
fstr = "*"
markdown = "*"
wget = "*"
argparse = "*"
pathlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
