[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
xlrd = "*"
pandas-ods-reader = "*"
openpyxl = "*"
yattag = "*"
language-tags = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
